
<div class="row">
{{#each favorites.places as |place|}}
  <div class="col-sm-3">
    <h3>{{place.name}}</h3>
  </div>
  {{/each}}
</div>

<div class="row">
{{#each favorites.places as |place|}}
  <div class="col-sm-3">
    <img src={{place.img}} alt={{place.name}} />
  </div>
  {{/each}}
</div>
<hr>
<div class="row">
  {{#each favorites.places as |place|}}
    <div class="col-sm-3">
      <p>"{{place.notes}}"</p>
    </div>
  {{/each}}
</div>

<div class="row">
  {{#each favorites.places as |place|}}
    <div class="col-sm-3">
      <p>${{place.price}}/family of 3</p>
    </div>
  {{/each}}
</div>
<div class="row">
  {{#each favorites.places as |place|}}
    <div class="col-sm-3">
      <p>{{place.style}}</p>
    </div>
  {{/each}}
</div>
<div class="row">
  {{#each favorites.places as |place|}}
    <div class="col-sm-3">
      <p>{{place.location}}</p>
    </div>
  {{/each}}
</div>
