<div class="col-sm-3">
  {{#link-to 'restaurant' restaurant.id}}
    <img src={{restaurant.img}} alt={{restaurant.name}} />
    <h5>{{restaurant.name}}</h5>
    <p>{{restaurant.location}}</p>
    <p>{{restaurant.notes}}</p>
  {{/link-to}}
</div>
