<div class="col-sm-5">
  <img src={{restaurant.img}} alt={{restaurant.name}} />
</div>
<div class="col-sm-6">
  <h4>{{restaurant.name}}</h4>
  <h5>{{restaurant.neighborhood}}</h5>
  <p>{{restaurant.notes}}</p>
  <h5>{{restaurant.price}}</h5>
</div>
