<div class="col-sm-5">
  <img src={{restaurant.img}} alt={{restaurant.name}} />
</div>
<div class="col-sm-6">
  <h4>{{restaurant.name}}</h4>
  <h5>{{restaurant.neighborhood}}</h5>
  <p>{{restaurant.notes}}</p>
  
  {{#if restaurant.cartIncludes}}
    <hr>
    <h5>{{restaurant.name}} has been added to your favorite places</h5>
  {{else}}
    <button class="btn btn-default" {{action 'addToFavs' restaurant}}>Add to my favorites</button>
  {{/if}}
</div>
